{% extends 'base.html.twig' %}

{% block title %}Cadastro de filmes!{% endblock %}

{% block body %}

    <fieldset>

        <!-- Form Name -->
        <legend>Novo Filme</legend>

        {{ form_start(form_filmes) }}
            {{ form_widget(form_filmes) }}



            <button id="salvar" name="salvar" class="btn btn-primary pull-right" type="submit">Salvar</button>

        {{ form_end(form_filmes)}}
        
    </fieldset>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#filmes_genero').val('Selecione')
        });
    </script>

{% endblock %}